<div style="display: flex;flex-direction: row;">
  <div *ngFor="let page of pages;let i = index" style="background-color: lightgray;padding: 10px;margin: 5px">{{i+1}}</div>
</div>
<!--<pre>{{data | json}}</pre>-->
<table>
  <tr align="center">
    <td>
      <span>{{headerdata?.id}}</span>
      <div><input  type="text" placeholder="search by id..."></div>
    </td>
    <td>
      <span>{{headerdata?.name}}</span>
      <div><input [(ngModel)]="searchText" type="text" placeholder="search by name..."></div>
    </td>
    <td>
      <span>{{headerdata?.price}}</span>
      <div><input type="text" placeholder="search by price..."></div>
    </td>
    <td>
      <span>{{headerdata?.quantity}}</span>
      <div><input type="text" placeholder="search by quantity..."></div>
    </td>
  </tr>
  <tr *ngFor="let row of data | search: searchText" align="center">
    <td *ngFor="let cell of row ">{{cell}}</td>
  </tr>
</table>
