<div class="radioBlock">
  Big<input type="radio" name="arraySize" value="4" [(ngModel)]="sliceArray">
  Small<input type="radio" name="arraySize" value="2" [(ngModel)]="sliceArray">
  Custom<input type="radio" name="arraySize" value="3" [(ngModel)]="sliceArray">
</div>
<div class="pagesContainer">
  <div class="pagesBlocks"
       (click)="setPage(1)">First
  </div>
  <div *ngIf="dataArray.currentPage > 1"
       class="pagesBlocks"
    (click)="setPage(dataArray.currentPage - 1)">prev</div>
<div *ngFor="let page of pageBlocks">
  <div class="pagesBlocks"
        (click)="setPage(page)">{{page}}
  </div>
</div>
  <div *ngIf="dataArray.currentPage < dataArray.lastPage"
       class="pagesBlocks"
    (click)="setPage(dataArray.currentPage + 1)">Next</div>
  <div class="pagesBlocks"
       (click)="setPage(dataArray.lastPage)">Last</div>
</div>
<p>pages:{{dataArray.currentPage}} / {{dataArray.totalPages}}</p>
<div>
  <input class="searchBlock" (keyup)="setPage()" [(ngModel)]="searchText" type="text" placeholder="search...">
</div>
<table>
  <tr align="center">
    <th (click)="setPage(dataArray.currentPage , 1)">
      {{headerdata?.id}}
    </th>
    <th (click)="setPage(dataArray.currentPage , 2)">
      <span>{{headerdata?.name}}</span>
    </th>
    <th *ngIf="sliceArray >= 3" (click)="setPage(dataArray.currentPage , 3)">
      {{headerdata?.price}}
    </th>
    <th *ngIf="sliceArray >= 4" (click)="setPage(dataArray.currentPage , 4)">
      {{headerdata?.quantity}}
    </th>
  </tr>
  <tr *ngFor="let row of pageItems;" align="center">
    <td *ngFor="let cell of row | slice : 0: sliceArray" (click)="setDescription(row)">{{cell}}</td>
  </tr>
</table>
{{description}}
